<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.dao.TrainNumMapper">
  <resultMap id="BaseResultMap" type="com.next.model.TrainNum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="from_station_id" jdbcType="INTEGER" property="fromStationId" />
    <result column="from_city_id" jdbcType="INTEGER" property="fromCityId" />
    <result column="to_station_id" jdbcType="INTEGER" property="toStationId" />
    <result column="to_city_id" jdbcType="INTEGER" property="toCityId" />
    <result column="seat_type" jdbcType="VARCHAR" property="seatType" />
    <result column="train_type" jdbcType="SMALLINT" property="trainType" />
    <result column="seat_num" jdbcType="INTEGER" property="seatNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, from_station_id, from_city_id, to_station_id, to_city_id, seat_type, 
    train_type, seat_num
  </sql>
  <select id="selectByExample" parameterType="com.next.model.TrainNumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from train_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_num
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from train_num
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.next.model.TrainNumExample">
    delete from train_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.next.model.TrainNum">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into train_num (`name`, from_station_id, from_city_id, 
      to_station_id, to_city_id, seat_type, 
      train_type, seat_num)
    values (#{name,jdbcType=VARCHAR}, #{fromStationId,jdbcType=INTEGER}, #{fromCityId,jdbcType=INTEGER}, 
      #{toStationId,jdbcType=INTEGER}, #{toCityId,jdbcType=INTEGER}, #{seatType,jdbcType=VARCHAR}, 
      #{trainType,jdbcType=SMALLINT}, #{seatNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.next.model.TrainNum">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into train_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="fromStationId != null">
        from_station_id,
      </if>
      <if test="fromCityId != null">
        from_city_id,
      </if>
      <if test="toStationId != null">
        to_station_id,
      </if>
      <if test="toCityId != null">
        to_city_id,
      </if>
      <if test="seatType != null">
        seat_type,
      </if>
      <if test="trainType != null">
        train_type,
      </if>
      <if test="seatNum != null">
        seat_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fromStationId != null">
        #{fromStationId,jdbcType=INTEGER},
      </if>
      <if test="fromCityId != null">
        #{fromCityId,jdbcType=INTEGER},
      </if>
      <if test="toStationId != null">
        #{toStationId,jdbcType=INTEGER},
      </if>
      <if test="toCityId != null">
        #{toCityId,jdbcType=INTEGER},
      </if>
      <if test="seatType != null">
        #{seatType,jdbcType=VARCHAR},
      </if>
      <if test="trainType != null">
        #{trainType,jdbcType=SMALLINT},
      </if>
      <if test="seatNum != null">
        #{seatNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.next.model.TrainNumExample" resultType="java.lang.Long">
    select count(*) from train_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update train_num
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.name != null">
        `name` = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.fromStationId != null">
        from_station_id = #{row.fromStationId,jdbcType=INTEGER},
      </if>
      <if test="row.fromCityId != null">
        from_city_id = #{row.fromCityId,jdbcType=INTEGER},
      </if>
      <if test="row.toStationId != null">
        to_station_id = #{row.toStationId,jdbcType=INTEGER},
      </if>
      <if test="row.toCityId != null">
        to_city_id = #{row.toCityId,jdbcType=INTEGER},
      </if>
      <if test="row.seatType != null">
        seat_type = #{row.seatType,jdbcType=VARCHAR},
      </if>
      <if test="row.trainType != null">
        train_type = #{row.trainType,jdbcType=SMALLINT},
      </if>
      <if test="row.seatNum != null">
        seat_num = #{row.seatNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update train_num
    set id = #{row.id,jdbcType=INTEGER},
      `name` = #{row.name,jdbcType=VARCHAR},
      from_station_id = #{row.fromStationId,jdbcType=INTEGER},
      from_city_id = #{row.fromCityId,jdbcType=INTEGER},
      to_station_id = #{row.toStationId,jdbcType=INTEGER},
      to_city_id = #{row.toCityId,jdbcType=INTEGER},
      seat_type = #{row.seatType,jdbcType=VARCHAR},
      train_type = #{row.trainType,jdbcType=SMALLINT},
      seat_num = #{row.seatNum,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.next.model.TrainNum">
    update train_num
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fromStationId != null">
        from_station_id = #{fromStationId,jdbcType=INTEGER},
      </if>
      <if test="fromCityId != null">
        from_city_id = #{fromCityId,jdbcType=INTEGER},
      </if>
      <if test="toStationId != null">
        to_station_id = #{toStationId,jdbcType=INTEGER},
      </if>
      <if test="toCityId != null">
        to_city_id = #{toCityId,jdbcType=INTEGER},
      </if>
      <if test="seatType != null">
        seat_type = #{seatType,jdbcType=VARCHAR},
      </if>
      <if test="trainType != null">
        train_type = #{trainType,jdbcType=SMALLINT},
      </if>
      <if test="seatNum != null">
        seat_num = #{seatNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.next.model.TrainNum">
    update train_num
    set `name` = #{name,jdbcType=VARCHAR},
      from_station_id = #{fromStationId,jdbcType=INTEGER},
      from_city_id = #{fromCityId,jdbcType=INTEGER},
      to_station_id = #{toStationId,jdbcType=INTEGER},
      to_city_id = #{toCityId,jdbcType=INTEGER},
      seat_type = #{seatType,jdbcType=VARCHAR},
      train_type = #{trainType,jdbcType=SMALLINT},
      seat_num = #{seatNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>